

button {
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}


.console {
  position: relative;
  height: 100%;
  background: #6441a5;
}
.console .base {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  /* padding: 24px 24px; */
  /* border-radius: 24px; */
  overflow: hidden;
  position: relative;
  /* background: #fff; */
  /* background-image: linear-gradient(90deg, #d0c8c0, transparent 6% 95%, #f6f5f2 98% 99%, transparent), linear-gradient(0deg, #eee6e2, transparent 1% 97%, #f6f5f2 99% 99%, transparent, #d0c8c0); */
  /* box-shadow: -3px 0px 5px 0px #f6f2ee inset, 6px 0 6px 1px #e5ddd7 inset, 0 3px 3px #f6f2ee inset, 0 35px 20px -2px rgba(0, 0, 0, 0.08), 0 55px 50px -5px rgba(0, 0, 0, 0.05); */
  background: #6441a5;
  /* background-image: linear-gradient(90deg, #4a2f7b, transparent 3% 96%, #593a93 98.1% 99%, transparent), linear-gradient(0deg, #6441a5, transparent 3% 97%, #593a93 98% 99%, transparent, #4a2f7b); */
  /* box-shadow: -3px 0px 5px 0px #6441a5 inset, 3px 0 3px 1px #6441a5 inset, 0 3px 3px #6441a5 inset, 0 35px 20px -2px rgba(0, 0, 0, 0.08), 0 55px 50px -5px rgba(0, 0, 0, 0.05); */
}

.console .base .monitor {
  /* background: linear-gradient(to bottom, #ebeff9 0%, #afb7c9 100%); */
  position: relative;
  /* border-radius: 6px; */
  /* box-shadow:  inset 0px 0px 0px 1px hsla(1200, 20%, 20%, .75), inset -1px -1px 0px 1px hsla(0, 0%, 100%, .5); */

}
.console .base .monitor-inner {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgb(37, 61, 42);
  /* border-radius: 4px; */
  /* overflow: hidden; */
  /* box-shadow: 1px 1px 1px 0px hsla(0, 0%, 100%, .5); */
}
.console .base .monitor-inner:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* box-shadow: inset 4px 8px 16px 4px hsl(229, 39%, 26%, .33), inset 2px 2px 4px 2px hsla(0, 0%, 0%, .25); */
  mix-blend-mode: multiply;
  z-index: 2;
}
.console .base .monitor-inner .filter-greenscreen {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.console .base .monitor-inner .filter-greenscreen:before {
  display: none;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgb(74, 116, 60);
  opacity: .5;
  z-index: 1;
}
.console .base .monitor-inner .filter-greenscreen:after {
  display: none;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgb(120, 196, 95);
  mix-blend-mode: multiply;
  z-index: 1;
}
.console .base .monitor-inner .filter-greenscreen.active:before,
.console .base .monitor-inner .filter-greenscreen.active:after {
  display: block;
}
.console .base .monitor-inner .filter-grayscale {
  position: relative;
  z-index: 0;
}
.console .base .monitor-inner .filter-grayscale.active {
  filter: grayscale(100%);
}

.console .base .controller {
  /* display: flex; */
  /* flex-direction: column; */
  position: relative;
  padding: 0 24px;
  padding-bottom: 9vh;
  background: #6441a5;
  z-index: 2;
  /* flex: 1; */
}
.console .base .buttons {
  display: flex;
  /* padding: 0 24px; */
  /* padding-bottom: 56px; */
  align-items: center;
  justify-content: center;
}

.console .base .buttons.middle {
  margin-top: 12px;
  justify-content: space-between;
}

.console .base .buttons.bottom {
  margin-top: 12px;
  gap: 6px;
}

.console .base .buttons .selection {
  display: flex;  
  gap: 12px;
  margin-left: 6px;
  padding: 12px 8px;
  border-radius: 60px;
  background: hsla(0, 0%, 0%, .2);
  box-shadow: 1px 1px 1px 0px hsla(0, 0%, 100%, .5);
  transform: rotate(-30deg);
}

.console .base .buttons .circle-btn-wrapper {
  border-radius: 30px;
  padding: 2px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, .5), 1px 1px 0px 0px hsla(0, 0%, 100%, .3);
}

.console .base .buttons .circle-btn {
  display: block;
  width: 48px;
  height: 48px;
  padding: 0;
  border-radius: 40px;
  position: relative;
  border: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.48);
  background: linear-gradient(to bottom, #ffffff 0%, #9da1aa 100%);
  font-size: 16px;
  color: rgba(0,0,0,0.36);
  text-shadow: 0 1px 1px white;
  cursor: pointer;
}

.console .base .buttons .circle-btn:active {
  box-shadow: 0 0px 2px rgba(0,0,0,0.42);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.446);
  background: hsla(0, 0%, 60%, 1);
  transform: scale(0.99, 0.99);
}

.console .base .buttons .circle-btn:after {
  content: '';
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 50%;
  width: 40px;
  height: 40px;
  background: linear-gradient(to bottom, rgba(0,0,0,0.15) 0%, rgba(255,255,255,0.18) 60%, rgba(255,255,255,0.4) 100%);
  border-radius: 50%;
  box-shadow: 0 1px 1px rgba(255,255,255,.9), 0 -1px 1px rgba(0,0,0,0.25);
  transform: translate(-50%, -50%);
}

.console .base .buttons .circle-btn:disabled {
  opacity: .3;
}

.console .base .buttons .circle-btn:focus {
  outline: 0;
}


.console .base .buttons .circle-btn.special {
  width: 30px;
  height: 12px;
  border-radius: 30px;
  background: linear-gradient(to bottom, #7853bd 0%, #482e79 100%);
  color: rgba(116, 72, 110, 0.36);
  text-shadow: 0 1px 1px hsla(0, 0%, 100% ,.75);
  cursor: pointer;
}

.console .base .buttons .circle-btn.special:after {
  /* content: none; */
  background: linear-gradient(to bottom, rgba(116, 72, 110, 0.15) 0%, rgba(172, 122, 165, 0.18) 60%, rgba(180, 136, 174, 0.4) 100%);
  border-radius: 30px;
  width: 28px;
  height: 10px;
}

.console .base .buttons .circle-btn.special:active {
  box-shadow: 0 0px 2px rgba(0,0,0,0.42);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.446);
  background: rgb(86, 60, 121);
  transform: scale(0.99, 0.99);
}


.console .base .buttons .direction {
  position: relative;
  width: 112px;
  height: 112px;
}

.console .base .buttons .direction .direction-btn-wrapper.top {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    50% 100%,
    0% 75%
  );
}
.console .base .buttons .direction .direction-btn-wrapper.right {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  clip-path: polygon(
    37% 0%,
    100% 0%,
    100% 100%,
    37% 100%,
    0% 50%
  );
}
.console .base .buttons .direction .direction-btn-wrapper.bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  clip-path: polygon(
    50% 0%,
    100% 37%,
    100% 100%,
    0% 100%,
    0% 37%
  );
}
.console .base .buttons .direction .direction-btn-wrapper.left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  clip-path: polygon(
    0% 0%,
    62% 0%,
    100% 50%,
    62% 100%,
    0% 100%
  );
}

.console .base .buttons .direction-btn-wrapper {
  border-radius: 8px;
  padding: 2px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, .5), 1px 1px 0px 0px hsla(0, 0%, 100%, .3);
}

.console .base .buttons .direction-btn {
  position: relative;
  display: block;
  width: 40px;
  height: 54px;
  padding: 0;
  border: 0;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.48);
  background: linear-gradient(to bottom, #ffffff 0%, #9da1aa 100%);
  font-size: 16px;
  color: rgba(0,0,0,0.36);
  text-shadow: 0 1px 1px white;
  cursor: pointer;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 64%,
    50% 100%,
    0% 64%
  );
}
.console .base .buttons .direction-btn.right {
  width: 54px;
  height: 40px;
  clip-path: polygon(
    37% 0%,
    100% 0%,
    100% 100%,
    37% 100%,
    0% 50%
  );
}

.console .base .buttons .direction-btn.bottom {
  width: 40px;
  height: 54px;
  clip-path: polygon(
    50% 0%,
    100% 37%,
    100% 100%,
    0% 100%,
    0% 37%
  );
}

.console .base .buttons .direction-btn.left {
  width: 54px;
  height: 40px;
  clip-path: polygon(
    0% 0%,
    62% 0%,
    100% 50%,
    62% 100%,
    0% 100%
  );
}


.console .base .buttons .direction-btn:active {
  box-shadow: 0 0px 2px rgba(0,0,0,0.42);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.446);
  background: hsla(0, 0%, 60%, 1);
  transform: scale(0.99, 0.99);
}

.console .base .buttons .direction-btn:after {
  content: '';
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 47%;
  width: 33px;
  height: 42px;
  background: linear-gradient(to bottom, rgba(0,0,0,0.15) 0%, rgba(255,255,255,0.18) 60%, rgba(255,255,255,0.4) 100%);
  border-radius: 6px;
  box-shadow: 0 1px 1px rgba(255,255,255,.9), 0 -1px 1px rgba(0,0,0,0.25);
  transform: translate(-50%, -50%);
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 64%,
    50% 100%,
    0% 64%
  );
}
.console .base .buttons .direction-btn.right:after {
  top: 50%;
  width: 42px;
  height: 33px;
  clip-path: polygon(
    37% 0%,
    100% 0%,
    100% 100%,
    37% 100%,
    0% 50%
  );
}
.console .base .buttons .direction-btn.bottom:after {
  top: 55%;
  width: 33px;
  height: 42px;
  clip-path: polygon(
    50% 0%,
    100% 37%,
    100% 100%,
    0% 100%,
    0% 37%
  );
}

.console .base .buttons .direction-btn.left:after {
  top: 50%;
  width: 42px;
  height: 33px;
  clip-path: polygon(
    0% 0%,
    62% 0%,
    100% 50%,
    62% 100%,
    0% 100%
  );
}

.console .base .buttons .direction-btn:disabled {
  opacity: .3;
}

.console .base .buttons .direction-btn:focus {
  outline: 0;
}